*{
    box-sizing: border-box;
    max-width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    /* content: center; */
}

body{
    height: 100dvh;
    width: 100vw;
}

header{
    width: 100%;
    height: max-content;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27.76px 0;
}

.header_container{
    width: 100%;
    max-width: 1000.39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_header .nav_list{
    display: flex;
    align-items: center;
    gap: 41px;
}

li:hover, li:active {
    color: #FF6565;
}

.nav_list a{
    color: white;
}

main{
    height: 100%;
}

.hero{
    background:  url(../img/Objectbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: bold;
    font-size: 32px;
    color: white;
    line-height: auto;
    letter-spacing: 0px;
    text-align: center;
}

span {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.primary{
    border-radius: 22px;
    height: 44px;
    width: 162px;
    border: none;
    background-color: #FF6565;
    color: white;
}

.primary:hover, .primary:active {
    opacity: 0.9;

}

.hero p{
    color: white;
    margin-top: 65px;
    max-width: 637px;
    width: 100%;
    text-align: center; 
}

.what_we_do {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 119px 100px;
}

.section_desc{
    margin-top: 40px;
    margin-bottom: 88px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    max-width: 637px;
}

.media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 58px;
    flex-wrap: wrap;
}

.media div{
    text-align: center;
}

.media .media_header {
    padding: 23.32px 0 13px 0;
    font-weight: bold;
}

.results {
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 141px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.results .section_desc{
    margin-top: 40px;
    font-size: 16px;
    width: 100%;
    max-width: 637px;
}

.hexagon_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 76px;
    flex-wrap: wrap;
}

.hexagon {
    position: relative;
}

.hexagon img {
    width: 180.7px;
    height: 171.86px;
    margin-bottom: 97.14px;
}

.bold {
    position: 
    absolute;
    top: 70px;
    left: 46.35px;
    bottom: 75.86px;
    font-size: 46px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    width: auto;
    align-items: top;
}

.sub_text {
    position: 
    absolute;
    top: 116px;
    bottom: 29.26px;
    left: 35.35px;
    right: 34.35px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0px;
    width: auto;
    align-items: top;
}